[Desktop Entry]
Categories=System;
Comment=Manager for LightDM
Exec=lightdm-manager
Icon=lightdm-manager
Name=LightDM Manager
StartupNotify=true
Terminal=false
Type=Application