[Desktop Entry]
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Comment=Manager for LightDM
Comment[ca]=Gestor per a LightDM 
Comment[de]=Manager für LightDM
Comment[es]=Gestor para LightDM
Comment[fr]=Interface graphique pour LightDM
Comment[it]=Manager di LightDM
Comment[nl]=Manager voor LightDM
Comment[ru]=Менеджер для LightDM
Exec=lightdm-manager
Icon=lightdm-manager
Name=LightDM Manager
Name[ca]=Gestor del LightDM
Name[cs]=LightDM Manager
Name[de]=LightDM Manager
Name[el]=Διαχειριστής οθόνης σύνδεσης LightDM
Name[es]=Gestor de LightDM
Name[fr]=LightDM Manager
Name[it]=LightDM Manager
Name[ja]=LightDM Manager
Name[nl]=LightDM Manager
Name[pl]=Menedżer LightDM
Name[ru]=Менеджер LightDM
Name[se]=LightDM Manager
Name[tr]=LightDM Manager
StartupNotify=true
Terminal=false
Type=Application