Source: lightdm-manager
Section: admin
Priority: optional
Maintainer: Schoelje <schoelje@solydxk.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lightdm-manager
Architecture: all
Installed-Size: 300
Depends: python3, python3-gi, gir1.2-gtk-3.0, lightdm
Section: admin
Priority: optional
Homepage: http://solydxk.com/
Description: Manager for LightDM.
