[Desktop Entry]
Type=Service
Icon=lightdm-manager
Exec=lightdm-manager

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration 
X-KDE-System-Settings-Parent-Category-V2=system-administration 
X-KDE-ParentApp=lightdm-manager
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=LightDM Manager
Name[ca]=Gestor del LightDM
Name[cs]=LightDM Manager
Name[de]=LightDM Manager
Name[el]=Διαχειριστής οθόνης σύνδεσης LightDM
Name[es]=Gestor de LightDM
Name[fr]=LightDM Manager
Name[it]=LightDM Manager
Name[ja]=LightDM マネージャー
Name[nb]=LightDM Manager
Name[nl]=LightDM Manager
Name[pl]=Menedżer LightDM
Name[pt]=Gestor LightDM
Name[ru]=Менеджер LightDM
Name[se]=LightDM Manager
Name[tr]=LightDM Manager
Comment=Manager for LightDM
Comment[ca]=Gestor per a LightDM 
Comment[de]=Manager für LightDM
Comment[es]=Gestor para LightDM
Comment[fr]=Interface graphique pour LightDM
Comment[it]=Manager di LightDM
Comment[ja]=LightDM の管理
Comment[nb]=Manager for LightDM
Comment[nl]=Manager voor LightDM
Comment[pl]=Menedżer LightDM
Comment[pt]=Gestor para LightDM
Comment[ru]=Менеджер для LightDM
